@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --font-base: 'Space Grotesk', sans-serif;

    --color-darkBlue: #38327C;
    --color-orange: #FF7D6B;
    --color-grey: #878CBD;
    --color-white: #FFFFFF;
    --color-subtitle: rgba(231, 232, 243, 0.8);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    color: unset;
    text-decoration: none;
}

/*width*/
::-webkit-scrollbar {
    width: 10px;
}

/*track*/
::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

/*thumb*/
::-webkit-scrollbar-thumb {
    background: rgb(56, 50, 124);
}